body {
    font-family: 'Overpass';
}

#landing-content {
    animation: left-content-fadein 1.25s;

    margin-top: 10rem;
    margin-bottom: 12rem;
}

#landing-content #profile-pic {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 12.5%;

    animation: long-content-fadein 1.25s;
}


@keyframes left-content-fadein {
    from { opacity: 0; transform: translateX(-1.5%);}
    to   { opacity: 1; transform: translateX(0%);}
}

@keyframes long-content-fadein {
    from { opacity: 0; transform: translateX(-10%);}
    to   { opacity: 1; transform: translateX(0%);}
}

#my-navbar {
    font-size: 1.3rem;
    font-weight: 800;

    overflow: hidden;
    position: fixed;
    top: 0;
    text-decoration: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

#projects-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: #aaa;
}

.projects-section {
    animation: left-content-fadein 1.25s;
}


a {
    font-weight: 800;
    color: black;
    text-decoration:none;
    position: relative;
}
a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    background: #7B9CDE;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 0.2s ease-in;
}
a:hover::after {
    width:100%;
}
a:hover {
    text-decoration: none;
}