:root {
    --theme-color: #b64f5d;
    /*--theme-color: #a03d4a;*/
    /*--theme-color: #2fb0de;*/
}

body {
    font-family: 'Overpass';
    color: #303030;
}

#my-navbar {
    font-size: 1.3rem;
    font-weight: 800;

    overflow: hidden;
    position: fixed;
    top: 0;
    text-decoration: none;
    z-index: 1000;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

/*#my-navbar #logo-col a:hover{*/
    /*box-shadow: 0px 0px 25px #2fb0de;*/
/*}*/

#my-navbar #logo-col a:hover::after {
    opacity: 0; /*This just overwrites the normal underline animation so it isn't shown*/
}

#landing-content {
    margin-top: 11.5rem;
    margin-bottom: 20rem;
}

#landing-content .landing-header {
    font-size: 2.6rem;
    font-weight: 600;
    color: #353535;
}

.profile-pic {
    margin-top: 3rem;
    margin-left: 2rem;
    height: 11rem;
    width: 11rem;
    border-radius: 5%;

    animation: profile-content-fadein 1.25s;
}

.onload-fadein {
    animation: left-content-fadein 1.25s;
}
@keyframes left-content-fadein {
    from { opacity: 0; transform: translateX(-1.5%);}
    to   { opacity: 1; transform: translateX(0%);}
}

@keyframes profile-content-fadein {
    from { opacity: 0; transform: translateX(-10%);}
    to   { opacity: 1; transform: translateX(0%);}
}

.subtext-content {
    font-family: 'Overpass Mono';
    font-size: 1.5rem;
    color: var(--theme-color);
}

.section-header {
    font-family: 'Overpass Mono';
    font-size: 1.25rem;
    font-weight: 600;
    /*color: #a0a0a0;*/
    color: #aaa;

    margin-top: 2.75rem;
    margin-bottom: 1.5rem;
}

.about-section {
    /*background: #f0f0f0;*/
    background: #f5f5f5;
}
.about-content {
    font-size: 1rem;
    color: #888;
    margin-bottom: 4rem;
}

.projects-section {
    /*background: #f0f0f0;*/
    background: #ebebeb;
}

.portfolio-sorting {
    margin-bottom: 0;
}
.portfolio-sorting .active {
    color: red;
    /*color: var(--theme-color);*/
}

.portfolio-sorting > * {
    margin-right: 2rem;
}

#project-grid {
    margin-top: 2rem;
}

.portfolio-item {
    /*overflow: hidden;*/
    /*border-radius: 10%;*/
    margin: 0.25rem 0.25rem 0.25rem 0.25rem; /*top right bottom left*/
}

.portfolio-img {
    /* This is the class used to control the size of the images. It would take a lot of effort to
    make the images automatically resize in the container while continuing to work with shufflejs */
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 5%;
}
.portfolio-item a:hover::after {
    opacity: 0; /*This overwrites the normal underline animation so it isn't shown on the image*/
}

.portfolio-item .portfolio-header:hover::after {
    opacity: 1; /*This overwrites the normal underline overwriting animation so it is shown on the text (but still not on the image). Forgive me*/
}

.portfolio-subtext {
    /*font-family: 'Overpass Mono';*/
    /*font-size: 0.95rem;*/
    color: #999999;
    width: 100%;

    margin-left: 0.3rem;
}

.footer-content {
    font-family: 'Overpass Mono';
    font-size: 0.85rem;
    color: #aaa;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    font-weight: 800;
    color: black;
    text-decoration:none;
    white-space: nowrap;
    position: relative;
}
a::after {
    content: '';
    display: inline-block;
    width: 100%;
    opacity: 0;
    height: 0.15rem;
    background: var(--theme-color);
    position: absolute;
    left: 0;
    bottom: 0.25rem;

    transition: 0.2s ease-in;
}
a:hover::after {
    bottom: -0.05rem;
    opacity: 1;
}
a:hover {
    color:black;
    text-decoration: none;
}